.fond {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../src/assets/1.jpg);
  background-size: cover;
}

.milieu {
  border-radius: 20px;
  background-position: center;
  font-size: 12px;
}

.techno {
  background-image: url('../src/assets/fondGB3.png');
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

  
.connex {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  width: 200px;
  height: 125px;
  margin-top: 20px;
}

.welcome {
  margin-bottom: 20px;
  font-weight: bold;
}

i.fa,
#matricule {
  color: gray;
}

.buttons {
  color: white;
  text-decoration: none;
}

.changer,
.retour,
.connecter {
  color: lightgrey;
  font-size: 12px;
}

.connecter,
.retour {
  float: right;
  margin-top: 15px;
}

.mndpt {
  color: whitesmoke;
  font-size: 15px;
}

.chgMdp {
  font-size: 20px;
  font-weight: bold;
}

.button {
  color: white;
}